body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homeCard {
  margin-bottom: 20%;
  cursor: pointer;
}

.sample {
  margin-left: 450px;
  margin-Top: 50px;
}

.homeCard:hover {
  transform: scale(0.9);
}

.housedetails {
  border: none;
}

.propertyCard {
  width:50%;
    height:fit-content;
    background:#eceff1;
    text-align:center;
    cursor: pointer;
    box-shadow: 2px 3px #888888;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 300px;
    margin-bottom: 10px;

}

.heading {
  margin-top: 50px;
}

.navheader{
  margin-left: 100%;
}
